{
    "tabWidth": 4,
    "useTabs": false,
    "printWidth": 100,
    "semi": false,
    "singleQuote": true,
    "bracketSpacing": true,
    "bracketSameLine": true,
    "arrowParens": "avoid",
    "trailingComma": "none",
    "proseWrap": "never"
}
